.Secret-word {
    font-size: 2em;
    padding: 1em ;
    color: sienna;
}

.WrongGuesses {
    font-size: 1.5em;
    padding: 0.2em ;
}

.GameWon {
    font-size: 1.5em;
    padding: 0.2em ;
    color: green;
}
.GameOver {
    font-size: 1.5em;
    padding: 0.2em ;
    color:red;
}